@model Student
    <h2 class="display-4">Add New Student</h2>
    <br />
    <div>
        @using (Html.BeginForm("CreateStudent", "Home"))
{
        <ejs-textbox id="FirstName" placeholder="First Name"></ejs-textbox>
        <ejs-textbox id="LastName" placeholder="Last Name"></ejs-textbox>
        <br />
        <ejs-button id="submit" content="Add Student"></ejs-button>
}
    </div>
    @section scripts {

        <script type="text/javascript">
            $(document).ready(function () {
                $('#submit').on('click', function (e) {
                    if ($('#FirstName').val() == '' || $('#LastName').val() == '') {
                        e.preventDefault();
                    } else {

                        var data = {
                            FirstName: $('#FirstName').val(),
                            LastName: $('#LastName').val()
                        };

                        let response = fetch('/home/AddStudent', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        });
                    }
                });
            });
        </script>
    }