@model Class
    <h2 class="display-4">Add New Class</h2>
    <br />
    @using (Html.BeginForm("CreateClass", "Home"))
    {
        <ejs-textbox id="ClassName" placeholder="Class Name"></ejs-textbox>
        <ejs-textbox id="TeacherId" placeholder="Teacher Id"></ejs-textbox>
        <br />
        <ejs-button id="submit" content="Add Class"></ejs-button>
    }

    @section scripts {

        <script type="text/javascript">
            $(document).ready(function () {
                $('#submit').on('click', function (e) {
                    if ($('#ClassName').val() == '' || $('#TeacherId').val() == '') {
                        e.preventDefault();
                    } else {

                        var data = {
                            FirstName: $('#ClassName').val(),
                            LastName: $('#TeacherId').val()
                        };

                        let response = fetch('/home/AddClass', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json;charset=utf-8'
                            },
                            body: JSON.stringify(data)
                        });
                    }
                });
            });
        </script>
    }