@model Student
<h2 class="display-4">Edit Student</h2>
<br />
<div>
    @using (Html.BeginForm("Index", "Home"))
    {
        <ejs-textbox id="StudentId" placeholder="Student Id" readonly="true"></ejs-textbox>
        <ejs-textbox id="FirstName" placeholder="First Name"></ejs-textbox>
        <ejs-textbox id="LastName" placeholder="Last Name"></ejs-textbox>
        <br />
        <ejs-button id="submit" content="Update Student"></ejs-button>
    }
</div>
@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $("#StudentId").val('@Model.StudentId');
            $('#FirstName').val('@Model.FirstName');
            $('#LastName').val('@Model.LastName');

                $('#submit').on('click', function (e) {
                    if ($('#FirstName').val() == '' || $('#LastName').val() == '') {
                        e.preventDefault();
                    } else {

                        var data = {
                            StudentId: $('#StudentId').val(),
                            FirstName: $('#FirstName').val(),
                            LastName: $('#LastName').val()
                        };

                        let response = async fetch('/home/UpdateStudent', {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        });
                    }
                });
            });
    </script>
}